header
  h1 Elbow Greese
  nav
section#main-image
  div main image or video
section#main-description
  p Elbow Grease is dedicate to <span>hard work</span> and independent thinking.
    Our goal is to document the lengths people go to for their work,
    their <span>struggles</span> and their joys.
  p Work has an innate value the goes beyond the quest for cash,
    and we believe stories of people who are brave enough to do somthing they love,
    to make a real difference,
    or maybe just to make ends meet, are worth sharing.
section#issue-list
  div#issue-one
    h2#issue-number
    div#issue-title
    p#issue-description
    a#purchase-button
  div#issue-two
    h2#issue-number
    div#issue-title
    p#issue-description
    a#purchase-button
  div#issue-three
    h2#issue-number
    div#issue-title
    p#issue-description
    a#purchase-button
  div#issue-four
    h2#issue-number
    div#issue-title
    p#issue-description
    a#purchase-button
  div#issue-navigation
