div.main-wrapper
  header.header
    div.title-logo
    <p>PERSERVERANCE AND PROPER GRAFT</p>
  section#main-description.main-description
    <p> Elbow Grease is dedicate to <span>hard work</span> and independent thinking.
      Our goal is to document the lengths people go to for their work, 
      their <span>struggles</span> and their joys.</p>
    <p> Work has an innate value the goes beyond the quest for cash,
      and we believe stories of people who are brave enough to do somthing they love,
      to make a real difference,
      or maybe just to make ends meet, are worth sharing.</p>
  section#issue-list.issue-list
    div.issue-one
      h2.issue-number 1
      div.issue-title
        div issue #1
        div Ascendance
      p.issue-description
        In our first issue, we look at what work means, or had meant, to people at differentstages in there own journeys.
      a.purchase-button
    div.issue-two
      h2.issue-number 2
      div.issue-title
        div issue #2
        div Ascendance
      p.issue-description
        In our first issue, we look at what work means, or had meant, to people at differentstages in there own journeys.
      a.purchase-button
    div.issue-three
      h2.issue-number
      div.issue-title
      p.issue-description
      a.purchase-button
    div.issue-four
      h2.issue-number
      div.issue-title
      p.issue-description
      a.purchase-button
    div.issue-navigation
  section#events
    title Events
    ul#events-breif
      li talks
      li markets
      li hangouts
    ul#events-list
      li
        div#event-title Indie Publishing
        div#event-date 14/04
        div#event-location FOYLES
      li
        div#event-title Getting Out There
        div#event-date 22/04
        div#event-location DIG Haushizzle
      li
        div#event-title Prints not dead
        div#event-date 03/05
        div#event-location Here Gallery
      li
        div#event-title Bip Workshop
        div#event-date 19/05
        div#event-location Roamers and Seekers
    div#bip-logo
  footer
    div#logo-section
    div#footer-description
    div#social-media
