//- /*div.main-wrapper*/
video(id="video", autoplay="true", loop="true").eg-video
  source(src="assets/eg-video2.webm", type="video/webm")
section.header
  div.title-logo
  div.title-text PERSERVERANCE AND PROPER GRAFT
section.main-description
  <p> Elbow Grease is dedicate to <span class="hard-work">hard work</span> and independent thinking. Our goal is to document the lengths people go to for their work, their <span class="struggles">struggles</span> and their joys.</p>
  <p> Work has an innate value that goes beyond the quest for cash, and we believe the stories of people who are brave enough to pursue an obsession, to <span class="face-advercity">face adversity,</span> or maybe just to make ends meet, are worth sharing.</p>
  img(src="./assets/hard-work.jpg").hard-work-modal
  img(src="./assets/struggles.jpg").struggles-modal
  img(src="./assets/make-ends-meet.jpg").face-adversity-modal
section.issue-list
  div.issue-slider-section
    div.issue-one.issue-slider-section--slide.active-slide
      h2.issue-number 1
      div.issue-details
        div.issue-title
          div.issue-title--number Issue #1
          img(src="./assets/issue_one_mobile.jpg").issue-one-mobile-image
          div.issue-title--name Ascendance
        p.issue-description In our first issue, we look at what work means, or had meant, to people at different stages in there own journeys.
        a.purchase-button Buy
    div.issue-two.issue-slider-section--slide.slide-on-right
      div.issue-number.question-mark
      div.issue-details
        div.issue-title
          div.issue-title--number Issue #2
          //- div.issue-title--name Ascendance
        p.issue-description We know what it's about, and we know you're going to really like it.
        p.issue-description Available Soon.
        a.preorder-button Pre-Order
  div.issue-selector-section
    ul.issue-selector
      a(href="#").stocking-box 
      li.issue-selector-number.active-issue 1
      li.issue-selector-number 2
    a.stocking-link Interested In Stocking?
section.community-section
  div.community-section--title
    h1 Community
  div.community-section--pin-icon
  div.community-section--stockist-section
    div.stockist-section--the-south
      div.stockist-heading THE SOUTH
      a(href="#").stockist
        div.stockist--stockist-title ARNOLFINI
        div.stockist--stockist-location BRISTOL
      a(href="#").stockist
        div.stockist--stockist-title MAGALLERIA
        div.stockist--stockist-location BATH
      a(href="#").stockist
        div.stockist--stockist-title MAGAZINE BRIGHTON
        div.stockist--stockist-location BRIGHTON
      a(href="#").stockist
        div.stockist--stockist-title MAGCULTURE
        div.stockist--stockist-location LONDON
      a(href="#").stockist
        div.stockist--stockist-title NO GUTS NO GLORY
        div.stockist--stockist-location EXETER
      a(href="#").stockist
        div.stockist--stockist-title PAPERSMITHS
        div.stockist--stockist-location BRISTOL
    div.stockist-section--the-north
      div.stockist-heading THE NORTH
      a(href="#").stockist
        div.stockist--stockist-title LA BIBLIOTEKA
        div.stockist--stockist-location SHEFFILD
      a(href="#").stockist
        div.stockist--stockist-title MAGMA
        div.stockist--stockist-location MANCHESTER
      a(href="#").stockist
        div.stockist--stockist-title PROVIDE
        div.stockist--stockist-location BIRMINGHAM
      a(href="#").stockist
        div.stockist--stockist-title VILLAGE
        div.stockist--stockist-location LEEDS
      div.divider
      div.stockist-contact If you'd like to stock our magazine, or know someone who would, let us know;
      a(href="#").stockist-email talk@elbowgreasemag.co.uk
  div.community-section--testamonials-section
    div.testamonial-wrapper
      div.testamonial-logo.papersmiths-logo
      div.testamonial-copy Elbow Grease is well received by our savvy regulars and impulse buyers. The subject matter is refreshing, stimulating and ballsy.
      div.testamonial-divider
      div.testamonial-person SIDONIE WORREN
      div.testamonial-position STOCKIST
    //- div.community-section--testamonials-section
    div.testamonial-wrapper
      div.testamonial-logo.extract-logo
      div.testamonial-copy In a world of insant gratification and expected entitlement, Elbow Grease is a much needed reminder on the benefits of hard work.
      div.testamonial-divider
      div.testamonial-person SEAN MCGOWAN
      div.testamonial-position ADVERTISER
    //- div.community-section--testamonials-section
    div.testamonial-wrapper
      div.testamonial-logo.magculture-logo
      div.testamonial-copy Elbow Grease is a well-put together mag, it's well structured, makes great use of illustration and brings together engaging characters.
      div.testamonial-divider
      div.testamonial-person JEREMY LESLIE
      div.testamonial-position STOCKIST
  div.community-section--summary We'd happily talk at length about failure and disappointment. Get in touch if you have a suitable upcoming event:
  div.community-section--email talk@elbowgreasemag.co.uk
  div.community-section--sponsers--section
    div.community-section--sponsers-section--logo
    div.community-section--sponsers-section--line-one Proud Member Of
    div.community-section--sponsers-section--line-two Bristol independent Publishers
footer.footer
  div.logo-section
    div.elbow-grease-footer-image
    //- div.email-adress talk@elbowgrease.co.uk
    div.footer-description Independent magazine dedicated to discovering the role work plays beyond the quest for cash.
  //- div.social-media-icons
  div.social-media-section
    div.social-media-title-line Give us a follow
    div.social-media-title-line keep up on the next issue progress-
    a(href="facebook.com").facebook-link
      div.facebook-icon
      div.social-media-text Facebook
    a(href="instagram.com").instagram-link
      div.instagram-icon
      div.social-media-text Instagram
    a(href="twitter.com").twitter-link
      div.twitter-icon
      div.social-media-text Twitter
  div.footer-description-and-credits
    div.footer-description-heading We're always looking for the most out spoken writers and imposlive illustrators. If that's you, <a href="#">drop us a line.</a>
    //- div.footer-description-copy independent magazine dedicated to discovering the role work plays beyond making stacks.
    //- div.footer-description-divider
    div.credits
      div.video-credits
        div.video-text Video:
        a(href="#").video-credit Doubleshoot
      div.site-credits
        div.site-build-text Site build:
        a(href="#").site-build-credit Max Weston
    div.footer-copyright &copy; Elbow grease
