div.main-wrapper
  section.header
    div.title-logo
    <p>PERSERVERANCE AND PROPER GRAFT</p>
  section.main-description
    <p> Elbow Grease is dedicate to <span>hard work</span> and independent thinking. Our goal is to document the lengths people go to for their work, their <span>struggles</span> and their joys.</p>
    <p> Work has an innate value the goes beyond the quest for cash, and we believe stories of people who are brave enough to do somthing they love, to make a real difference, or maybe just to make ends meet, are worth sharing.</p>
  section.issue-list
    div.issue-one
      h2.issue-number 1
      div.issue-details
        div.issue-title
          div.issue-title--number Issue #1
          div.issue-title--name Ascendance
        p.issue-description In our first issue, we look at what work means, or had meant, to people at different stages in there own journeys.
        a.purchase-button Purchase
    //- div.issue-two
    //-   h2.issue-number 2
    //-   div.issue-title
    //-     div issue #2
    //-     div Ascendance
    //-   p.issue-description
    //-     In our first issue, we look at what work means, or had meant, to people at differentstages in there own journeys.
    //-   a.purchase-button
    div.issue-selector-section
      ul.issue-selector
        li.issue-selector-number.active-issue 1
        li.issue-selector-number 2
        li.issue-selector-number 3
        li.issue-selector-number 4
      a.stocking-link Interested In Stocking?
  footer.footer
    div.logo-section
      div.elbow-grease-footer-image
      div.email-adress talk@elbowgrease.co.uk
    div.footer-description
      div.footer-description-heading Perserverance and proper graft
      div.footer-description-copy independent magazine dedicated to discovering the role work plays beyond making stacks.
      div.footer-description-divider
      div.footer-copyright &copy; Elbow grease magazine
    div.social-media-icons
      a(href="facebook.com").facebook-icon
      a(href="instagram.com").instagram-icon
      a(href="twitter.com").twitter-icon
