div.stockist-modal--overlay.stockist--issue-one-modal
  div.stockist-modal--container
    div.stockist-modal--image
    div.stockist-modal--description-section
      div.stockist-modal--description-issue-number Issue #1
      div.stockist-modal--description-issue-title Acsendence
      div.stockist-modal--description-issue-workshop-bundle-text Workshop Bundle
      div.stockist-modal--description-issue-description Do you run a business that supports local makers and caters for a freethinking crowd with an eye for good design?
      a(href="http://www.tomasydenham.com/shop/", target="_blank").stockist-modal--button Select Your Bundle
    div.stockist-modal--close-icon.stockist-issue-one-modal--close-icon
