.community-section
  // height 175vh
  // height 89vh
  height 126vh
  // padding-top 21vh
  // padding-left 5vw
  // padding-right 5vw
  display flex
  flex-direction column
  // padding 7vh 2vw 0 2vw
  padding 7vh 7vw 0 7vw
  width 100%
  background white
  box-sizing: border-box;

.community-section--title
  text-align: center

.community-section--title h1
  font-family $bold-font
  text-transform uppercase
  // font-size 63px
  font-size 97px
  -webkit-margin-before 0
  -webkit-margin-after 0

.community-section--pin-icon
  background url('./assets/events-pin-icon.svg')
  background-repeat no-repeat
  background-size: contain
  // width 58px
  // height 58px
  width 100px
  height 100px
  background-position 8px 0px
  margin 70px auto

.community-section--testamonials-section
  display flex
  // flex-direction row
  flex-direction column
  justify-content space-between

.testamonial-wrapper
  margin-bottom 100px

.testamonial-logo
  background-repeat no-repeat
  background-size contain
  margin 0 auto 20px auto

.papersmiths-logo
  background-image url('./assets/papersmiths.svg')
  // width 178px
  // height 48px
  width 344px
  height 74px
  background-position 0px 8px

.extract-logo
  background-image url('./assets/extract.svg')
  width 106px
  height 48px

.magculture-logo
  background-image url('./assets/magculture.svg')
  width 156px
  height 48px

.testamonial-copy
  font-family $regaular-sans-font
  // font-size 20px
  font-size 36px
  text-align center

.testamonial-divider
  // width 30px
  width 75px
  height 3px
  background black
  margin 30px auto 30px auto

.testamonial-person
  font-family $bold-font
  // font-size 20px
  font-size: 27px
  text-align center

.testamonial-position
  font-family $regaular-sans-font
  text-transform uppercase
  // font-size 15px
  font-size 28px
  margin 12px auto 0px auto
  text-align center

.community-section--summary
  text-align center
  font-family $regaular-font
  font-size 32px
  margin 10vh 0 0 0

.community-section--email
  text-align center
  font-family $regaular-font
  font-size 32px
  text-decoration underline
  margin 20px 0px 0px 0px

.community-section--sponsers--section
  // margin 12vh auto 0px auto
  margin-top auto
  margin-bottom 40px

.community-section--sponsers-section--logo
  background-image url('./assets/bip_logo.jpg')
  background-repeat no-repeat
  background-size contain
  width 100px
  height 100px
  margin 0 auto

.community-section--sponsers-section--line-one
  margin 10px 0px 0px 0px
  text-align center
  font-family $regaular-sans-font
  text-transform uppercase
  font-size 14px

.community-section--sponsers-section--line-two
  margin 10px 0px 0px 0px
  text-align center
  font-family $bold-font
  text-transform uppercase
  font-size 14px
