.footer
  background black
  // height 200px
  // height 240px
  height 190px
  // padding 40px 50px 40px 50px
  padding 20px
  display flex
  // flex-direction row
  flex-direction column
  justify-content space-between
  box-sizing: border-box;

.logo-section
  display flex
  flex-direction column
  justify-content space-between
  align-items center
  // width 17%

.elbow-grease-footer-image
  background url('./assets/elbow-grease-white.svg')
  background-repeat no-repeat
  background-size contain
  // width 106px
  width 156px
  // height 61px
  height 90px
  width 100px
  height 60px

.email-adress
  font-family $bold-font
  text-transform uppercase
  color white
  // font-size 9px
  // font-size 17px
  font-size 10px
  margin-top 10px

.footer-description
  text-align left
  display flex
  flex-direction column
  justify-content space-between
  font-family $regaular-font

.footer-description-heading
  font-family $bold-font
  color white
  text-transform uppercase
  // font-size 11px
  font-size 19px
  display none

.footer-description-copy
  color white
  width 63%
  margin 0 auto
  font-family $regaular-font
  // font-size 11px
  // font-size 24px
  width 300px
  display none
  font-size 35px

.footer-description-divider
  margin 0 auto
  width 30px
  background white
  height 2px
  display none

.footer-copyright
  font-family $bold-font
  color white
  text-transform uppercase
  // font-size 9px
  // font-size 15px
  font-size 7px

.social-media-icons
  // width 200px
  display flex
  flex-direction row
  align-items flex-end
  // align-items center
  // justify-content flex-end
  justify-content center

.facebook-icon
.instagram-icon
.twitter-icon
  // width 40px
  // height 40px
  width 22px
  height 22px
  border 1px solid white
  background-position 3px 3px

.facebook-icon
  color white
  background-image url('./assets/facebook.svg')
  background-repeat no-repeat
  // height 17px
  // width 17px
  padding 0px
  display block
  background-size 70%
  // background-position 2px 3px
  // background-position 6px 5px
  box-sizing border-box
  // border 1px solid white

.instagram-icon
  background-image url('./assets/instagram.svg')
  background-repeat no-repeat
  // height 17px
  // width 17px
  padding 0px
  display block
  background-size 70%
  // background-position 3px 3px
  // background-position 6px 5px
  box-sizing border-box
  // border 1px solid white
  // margin 0px 10px
  margin 0px 15px

.twitter-icon
  background-image url('./assets/twitter.svg')
  background-repeat no-repeat
  // height 17px
  // width 17px
  padding 0px
  display block
  background-size 70%
  // background-position 3px 3px
  // background-position: 6px 5px
  box-sizing border-box
  // border 1px solid white

@media screen and (orientation: landscape)
  .footer
    height 157px

  .elbow-grease-footer-image
    width 75px
    height 44px

@media screen and (min-width: 1024px)
  .footer
    height 400px
    // padding 40px 50px 40px 50px
    padding 90px 140px 90px 140px
    flex-direction row

  .logo-section
    // width 15%
    width 220px
    align-items flex-start
    flex 0 0 auto

  .elbow-grease-footer-image
    width 150px
    height 87px

  .footer-description
    color white
    font-size 14px
    font-family $regaular-sans-font

  .social-media-title-line
    display block

  .social-media-icons
    justify-content flex-end

  .facebook-link
  .instagram-link
  .twitter-link
    display block

  .facebook-icon
  .instagram-icon
  .twitter-icon
    border none
    display: inline-block;

  .social-media-text
    color white
    text-decoration none
    text-transform uppercase
    font-family $bold-font
    display: inline-block

  .email-adress
    font-size 7px

  .footer-description-heading
    display block
    font-size 11px

  .footer-description-divider
    display block

  .footer-description-copy
    display block
    font-size 11px

  .social-media-icons
    width 200px

  .footer-description-and-credits
    width 220px
