.footer
  background black
  height 190px
  padding 20px
  display flex
  flex-direction column
  justify-content space-between
  box-sizing: border-box;

.logo-section
  display flex
  flex-direction row
  justify-content center
  align-items center

.elbow-grease-footer-image
  background url('./assets/elbow-grease-white.svg')
  background-repeat no-repeat
  background-size contain
  width 156px
  height 90px
  width 100px
  height 60px

.footer-description
  display none

.social-media-section
  display flex
  flex-direction row
  justify-content center

.social-media-title-line
  display none

.social-media-text
  display none

.footer-description-heading
  font-family $bold-font
  color white
  font-size 19px
  display none

.footer-description-copy
  color white
  width 63%
  margin 0 auto
  font-family $regaular-font
  width 300px
  display none
  font-size 35px

.footer-description-divider
  margin 0 auto
  width 30px
  background white
  height 2px
  display none

.social-media-icons
  display flex
  flex-direction row
  align-items flex-end
  justify-content center

.facebook-icon
.instagram-icon
.twitter-icon
  width 22px
  height 22px
  border 1px solid white
  background-position 3px 3px

.facebook-icon
  color white
  background-image url('./assets/facebook.svg')
  background-repeat no-repeat
  padding 0px
  display block
  background-size 70%
  box-sizing border-box

.instagram-icon
  background-image url('./assets/instagram.svg')
  background-repeat no-repeat
  padding 0px
  display block
  background-size 70%
  box-sizing border-box
  margin 0px 15px

.twitter-icon
  background-image url('./assets/twitter.svg')
  background-repeat no-repeat
  padding 0px
  display block
  background-size 70%
  box-sizing border-box

.credits
  display none

.footer-copyright
  text-align center
  font-size 14px
  font-family $regaular-sans-font
  color white
  text-transform uppercase

@media screen and (orientation: landscape)
  .footer
    height 157px

  .elbow-grease-footer-image
    width 75px
    height 44px

@media screen and (min-width: 1024px)
  .footer
    height 400px
    padding 110px 140px 110px 140px
    flex-direction row

  // Desktop logo column
  .logo-section
    width 220px
    justify-content space-between
    align-items flex-start
    display flex
    flex-direction column
    flex 0 0 auto

  .elbow-grease-footer-image
    width 150px
    height 87px

  .footer-description
    display block
    color white
    text-align left
    font-size 14px
    font-family $regaular-sans-font

    // Desktop Social Media Collumn
  .social-media-section
    display flex
    flex-direction column
    justify-content space-between

  .social-media-title-line
    display block
    color white
    &:nth-child(1)
      font-family $regaular-sans-font
      text-transform uppercase
    &:nth-child(2)
      margin 5px 0
      font-family $regaular-sans-font

  .social-media-icons
    justify-content flex-end

  .facebook-link
  .instagram-link
  .twitter-link
    display block

  .facebook-link
    margin 15px 0 0 0

  .instagram-link
  .twitter-link
    margin 10px 0 0 0

  .facebook-icon
  .instagram-icon
  .twitter-icon
    border none
    display: inline-block;
    vertical-align middle
    background-position 0px 0px

  .instagram-icon
    margin 0px

  .social-media-text
    color white
    text-decoration none
    text-transform uppercase
    font-family $bold-font
    display: inline-block
    margin 0px 0px 0px 10px

  .email-adress
    font-size 7px

  .footer-description-and-credits
    width 240px
    display flex
    flex-direction column
    justify-content space-between

  .footer-description-heading
    display block
    font-family $regaular-sans-font
    font-size 14px
    & a
      color white

  .credits
    display block

  .video-text
  .site-build-text
    display inline-block
    font-family $regaular-sans-font
    color white
    text-transform uppercase

  .video-credit
  .site-build-credit
    color white
    display inline-block
    text-transform uppercase
    text-decoration none
    font-family $bold-font
    margin 0px 0px 0px 10px

  .footer-description-divider
    display block

  .footer-description-copy
    display block
    font-size 11px

  .footer-copyright
    font-family $regaular-sans-font
    font-size 14px
    text-align left
