.footer
  background black
  height 200px
  padding 40px 50px 40px 50px
  display flex
  flex-direction row
  justify-content space-between

.logo-section
  display flex
  flex-direction column
  justify-content space-between
  width 17%

.elbow-grease-footer-image
  background url('./assets/elbow-grease-white.svg')
  background-repeat no-repeat
  background-size contain
  width 106px
  height 61px

.email-adress
  font-family $bold-font
  text-transform uppercase
  color white
  font-size 9px

.footer-description
  text-align center
  display flex
  flex-direction column
  justify-content space-between

.footer-description-heading
  font-family $bold-font
  color white
  text-transform uppercase
  font-size 11px

.footer-description-copy
  color white
  width 63%
  margin 0 auto
  font-family $regaular-font
  font-size 13px
  font-size 11px
  width 300px

.footer-description-divider
  margin 0 auto
  width 30px
  background white
  height 2px

.footer-copyright
  font-family $bold-font
  color white
  text-transform uppercase
  font-size 9px

.social-media-icons
  width 200px
  display flex
  flex-direction row
  align-items flex-end
  justify-content flex-end

.facebook-icon
  color white
  background url('./assets/facebook.svg')
  background-repeat no-repeat
  height 17px
  width 17px
  padding 0px
  display block
  background-size 70%
  background-position 2px 3px
  box-sizing border-box
  border 1px solid white

.instagram-icon
  background url('./assets/instagram.svg')
  background-repeat no-repeat
  height 17px
  width 17px
  padding 0px
  display block
  background-size 70%
  background-position 3px 3px
  box-sizing border-box
  border 1px solid white
  margin 0px 10px

.twitter-icon
  background url('./assets/twitter.svg')
  background-repeat no-repeat
  height 17px
  width 17px
  padding 0px
  display block
  background-size 70%
  background-position 3px 3px
  box-sizing border-box
  border 1px solid white
