.stockist-modal--overlay
  position fixed
  width 100vw
  height 100vh
  top 0
  bottom 0
  left 0
  right 0
  background-color rgba(0, 0, 0, 0.8)
  opacity 0
  z-index -1
  transition opacity 0.3s ease-in-out
  display flex

.stockist-modal--overlay-visibile
  opacity 1
  z-index 12

.stockist-modal--container
  background-color white
  display flex
  width 90vw
  max-width 378px
  // height 58vh
  height 410px
  margin auto auto
  position: relative;
  justify-content: center;

.stockist-modal--image
  display none
  background-image: url(./assets/mag_stack-01.svg)
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 50%;
  background-position-x: 100%
  width: 37%;
  flex: 0 0 auto;
  margin: 60px;

.stockist-modal--description-section
  margin-top 54px
  margin-bottom: 60px
  display flex
  flex-direction column
  justify-content: flex-start;
  width 90%

.stockist-modal--description-issue-number
  color black
  font-family $regaular-sans-font
  font-size 16px
  letter-spacing: 1.1px
  text-transform uppercase

.stockist-modal--description-issue-title
  font-family $bold-font
  color black
  text-transform: uppercase
  font-size 16px
  letter-spacing 1.1px
  max-width 450px
  cursor pointer

.stockist-modal--description-issue-workshop-bundle-text
  color black
  font-family $regaular-sans-font
  font-size 16px
  letter-spacing: 1.1px
  text-transform uppercase

.stockist-modal--description-issue-description
  font-family $regaular-sans-font
  font-size 16px
  margin: 39px 0px 47px 0px;

.stockist-modal--button
  width 232px
  font-family $bold-font
  font-size 17px
  letter-spacing: 1.1px
  text-transform uppercase
  border 2px solid black
  color black
  padding 7px
  text-decoration none

.stockist-modal--close-icon
  position: absolute;
  right: 25px;
  top: 25px;
  width: 33px;
  height: 32px;
  background-color white
  cursor pointer

.stockist-modal--close-icon:hover
  &:before
  &:after
    opacity 0.3

.stockist-modal--close-icon:before,
.stockist-modal--close-icon:after
  position: absolute;
  left: 15px;
  content: '';
  height: 33px;
  width: 3px;
  background-color: black;

.stockist-modal--close-icon:before
  transform: rotate(45deg);

.stockist-modal--close-icon:after
  transform: rotate(-45deg)

@media screen and (min-width: 360px)
  .stockist-modal--description-section
    width 70%

@media screen and (max-width: 600px)
  .stockist-modal--close-icon
    right 10px
    top 10px
    width 21px
    height 22px

  .stockist-modal--close-icon:before,
  .stockist-modal--close-icon:after
    height 20px
    left 9px

@media screen and (min-width: 840px)
  .stockist-modal--container
    justify-content: center;
    width 80vw
    max-width 900px

  .stockist-modal--image
    display block

  .stockist-modal--description-issue-number
    font-size 21px

  .stockist-modal--description-issue-title
    font-size 27px

  .stockist-modal--description-issue-workshop-bundle-text
    font-size 21px

  .stockist-modal--description-issue-description
    font-size 18px
    width 284px
    margin 13px 0px 43px 0px;


@media screen and (min-width: 1024px)
  .stockist-modal--description-section
    justify-content: flex-start;
