@import './fonts.styl'

$bold-font = 'novel_sans_proextrabold'
$regaular-font = 'novel_proregular'
$regaular-sans-font = 'novel_sans_proregular'

*
  box-sizing border-box

h2
  margin 0

body, html
  height 100%
  margin 0px
  vertical-align top

section
  height 100vh

p
  -webkit-margin-before 0
  -webkit-margin-after 0

ul
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;

.main-wrapper
  // height 100%
  background-color: white;
  background-image url('./assets/hands.jpg')
  background-size cover
  background-repeat no-repeat
  background-position center
  background-attachment fixed
  position relative

.header
  background rgba(0, 0, 0, 0)
  padding-top 20px

.title-logo
  background-image url('./assets/elbow-grease-white.svg')
  // width 100px
  // height 58px
  width 160px
  height 100px
  background-size contain
  background-repeat no-repeat
  margin 0 auto

.title-text
  font-family $bold-font
  color white
  margin 0 auto
  font-size 60px
  width 642px
  text-align center
  margin-top 21vh

.main-description
  background: rgb(255,255,255);
  padding 0px 7%
  font-family $regaular-font
  font-size 32px
  text-align center
  margin-top 100px
  display flex
  flex-direction column
  justify-content center
  p:nth-of-type(2)
    margin-top 50px
  span
    text-decoration underline

.issue-list
  background-color rgba(0, 0, 0, 0.8)
  color white
  display flex
  flex-direction column
  justify-content center

.issue-number
  display inline-block
  font-family $regaular-sans-font
  font-size 400px
  width: 50%
  text-align right
  line-height 302px

.active-issue
  border 1px solid white
  border-radius 50%

.issue-one
  display flex
  flex-direction row
  justify-content center
  align-items center

.issue-details
  vertical-align top
  height 302px
  width 50%
  display flex
  flex-direction column
  justify-content space-between

.issue-title--number
  font-family $regaular-sans-font
  font-size 20px
  letter-spacing: 1.1px
  text-transform uppercase

.issue-title--name
  font-family $bold-font
  text-transform: uppercase
  font-size 20px
  letter-spacing 1.1px

.issue-description
  font-family: $regaular-font
  font-size 20px
  width 40%

.purchase-button
  font-family $bold-font
  font-size 18px
  letter-spacing: 1.1px
  text-transform uppercase
  width 150px
  border 2px solid white
  padding 5px 17px

.issue-selector-section
  width 100%
  height 60px
  text-align center

.issue-selector
  list-style-type none
  text-align center
  margin 40px 0px 10px 0px

.issue-selector-number
  font-family $regaular-font
  display inline-block
  margin 0px 10px
  font-size 14px
  padding 0px 7px 0px 7px

.stocking-link
  font-family $bold-font
  font-size 14px
  text-transform uppercase
  text-decoration underline

.footer
  background white
  height 200px
  padding 40px 50px 40px 50px
  display flex
  flex-direction row
  justify-content space-between

.logo-section
  display flex
  flex-direction column
  justify-content space-between
  width 17%

.elbow-grease-footer-image
  background url('./assets/Elbowgrease_logo-02.svg')
  background-repeat no-repeat
  background-size contain
  width 106px
  height 61px

.email-adress
  font-family $bold-font
  text-transform uppercase
  color black
  font-size 9px

.footer-description
  text-align center
  display flex
  flex-direction column
  justify-content space-between

.footer-description-heading
  font-family $bold-font
  text-transform uppercase
  font-size 11px

.footer-description-copy
  width 63%
  margin 0 auto
  font-family $regaular-font
  font-size 13px
  font-size 11px
  width 300px

.footer-description-divider
  margin 0 auto
  width 30px
  background black
  height 2px

.footer-copyright
  font-family $bold-font
  text-transform uppercase
  color black
  font-size 9px

.social-media-icons
  width 200px
  display flex
  flex-direction row
  align-items flex-end
  justify-content flex-end

.facebook-icon
  background url('./assets/facebook.svg')
  background-repeat no-repeat
  height 17px
  width 17px
  padding 0px
  display block
  background-size 70%
  background-position 2px 3px
  box-sizing border-box
  border 1px solid black

.instagram-icon
  background url('./assets/instagram.svg')
  background-repeat no-repeat
  height 17px
  width 17px
  padding 0px
  display block
  background-size 70%
  background-position 3px 3px
  box-sizing border-box
  border 1px solid black
  margin 0px 10px

.twitter-icon
  background url('./assets/twitter.svg')
  background-repeat no-repeat
  height 17px
  width 17px
  padding 0px
  display block
  background-size 70%
  background-position 3px 3px
  box-sizing border-box
  border 1px solid black
