@import './fonts.styl'

$bold-font = 'novel_sans_proextrabold'
$regaular-font = 'novel_proregular'
$regaular-sans-font = 'novel_sans_proregular'

// Media Queries
$mediumBreakpoint = 768px
$highBreakpoint = 1140px

*
  box-sizing border-box

h2
  margin 0

body, html
  height 100%
  margin 0px
  vertical-align top

section
  height 100vh

p
  -webkit-margin-before 0
  -webkit-margin-after 0

ul
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;

.main-wrapper
  background-color white
  background-image url('./assets/hands.jpg')
  position fixed
  top 50%
  left 50%
  min-width 100%
  min-height 100%
  width auto
  height auto
  z-index -100
  transform translate(-50%, -50%)
  transition opacity 0.3s ease-in-out
  background-size: cover
  background-repeat-y no-repeat

.fade-out
  opacity 0

.stop-scrolling
  height 100%
  overflow hidden


// section imports
@import './title-section.styl'
@import './main-description.styl'
@import './issue-section.styl'
@import './modal-styling.styl'
@import './issue-one-stockist-modal.styl'
@import './community-section.styl'
@import './footer.styl'
