.header
  background rgba(0, 0, 0, 0)
  padding-top 20px
  display flex
  flex-direction column

.eg-video
  position fixed
  top 50%
  left 50%
  min-width 100%
  min-height 100%
  width auto
  height auto
  z-index -100
  transform translate(-50%, -50%)

.title-logo
  background-image url('./assets/elbow-grease-white.svg')
  width 120px
  height 71px
  background-size contain
  background-repeat no-repeat
  margin 0 auto
  flex 0 0 auto
  display flex

.title-text
  font-family $bold-font
  color white
  margin auto
  flex 0 0 auto
  height 412px
  font-size 31px
  height 139px
  text-align center
  display flex

@media screen and (orientation: landscape)
  .title-logo
    width 86px
    height 51px

  .title-text
    height 91px
    font-size 23px

@media screen and (min-width: 676px)
  .title-text
    font-size 58px
    width 88%
    height 193px

@media screen and (min-width: 1024px)
  .title-logo
    width 133px
    height 78px

  .title-text
    font-size 64px
    height 184px
    letter-spacing 5px
    width 65%
