.header
  background rgba(0, 0, 0, 0)
  padding-top 20px
  display flex
  flex-direction column

.title-logo
  background-image url('./assets/elbow-grease-white.svg')
  // width 100px
  // height 58px
  // width 160px
  // width 315px
  // height 183px
  width 120px
  height 71px
  background-size contain
  background-repeat no-repeat
  margin 0 auto
  flex 0 0 auto
  display flex

.title-text
  font-family $bold-font
  color white
  margin auto
  // font-size 60px
  flex 0 0 auto
  height 412px
  // font-size calc(73px + 0.3vw)
  // font-size
  font-size 31px
  height 139px
  // width calc(100% - 40px)
  // width 725px
  text-align center
  // margin-top 35vh
  display flex
  // flex 1
@media screen and (orientation: landscape)
  .title-logo
    width 86px
    height 51px

  .title-text
    height 91px
    font-size 23px

@media screen and (min-width: 1024px)
  .title-logo
    // width 207px
    // height 122px
    width 154px
    height 91px

  .title-text
    font-size 41px
